/*GENERLES*/
body{
    background-image: url(../image/fondo_index.jpg) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646a1;
    font-family: 'Roboto', sans-serif;
}

.line{
    border-bottom: solid 1px rgb(121, 121, 121);
}

/*NAVBAR*/
.navbar{
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 80px;
    border-bottom: 2px solid #2facff;
    text-align: center;

}
.navbar img{
    width: 100px;
}
.navbar .contact{
    background-color:#2facff;
}
.navbar .contact:hover{
    background-color:#0d9dfd;
}
.navbar .contact a{
    color: white;
}
.navbar .contact a:hover{
    color: white;
}
.navbar a{
    font-size: 17px;
    color: rgb(71, 71, 71);
    font-family: 'Gotham-Book', sans-serif;
    
}
.navbar a:hover{
    color: #2facff;
}

/*PRINCIPAL*/
#home .bloque_image{
    background: url(../image/service_one.png);
    width: auto;
    height: 700px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.bloque_image .bloque_titulo{
    width: 50%;
    margin-left: 250px;
}
.bloque_image h2{
    font-size: 70px;
    margin-top: 150px;
    filter:none;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#home .bloque_texto{
    width: 100%;
    min-height: 750px;
    background-color:white;
}
.bloque_texto .bloque_one{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#home .bloque_list{
    width: 100%;
    min-height: 380px;
}
.bloque_list h4{
    margin-bottom: 20px;
    color: rgb(66, 66, 66);
}
.bloque_list img{
    width: 80%;
    height: 250px;
    box-shadow: 3px 4px 3px rgba(104, 104, 104, 0.699);
}
.bloque_list .bloque_text_min{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.bloque_list p{
    font-size: 16px;
    color: rgb(107, 107, 107);
}


/*FOOTER*/
#footer{
    height: auto;
    background-color: rgba(1,1,1,0.7);
    font-size: 17px;
    color: white;
}
#footer h3{
    text-align: center;
    padding-top: 40px;
    margin-bottom: 30px;
}
#footer img{
    width: 40px;
    margin-top: 10px;
}
#footer h4{
    font-size: 18px;
    margin-top: 20px;
}
#footer ul{
    list-style: none;
}
#footer ul li{
    line-height: 35px;
}
#footer a{
    text-decoration: none;
    color: white;
}
#footer a:hover{
    color: #629BF8;
}
#footer .credit{
    width: 90%;
    min-height: 50px;
    font-family: 'Rajdhani', sans-serif;
    background-color: rgba(1,1,1,0.8);
    margin: auto;
    margin-top:40px;
    font-size: 13px;
    clear: both;
    padding-top:10px;
    padding-bottom: 10px;
    color: white;
}



 
/*RESPONSIVE*/

/*MAXIMO LAPTOP */
/*******************************************/
@media only screen
and (min-device-width: 1200px)
and (max-device-width: 1600px) { 
    /*NAVBAR*/
    .navbar img{
        width: 60px;
    }
    .navbar a{
        font-size: 15px;
    }

    /*PRINCIPAL*/
    #home .bloque_image{
        background: url(../image/service_one.png);
        height: 600px;
    }
    #home .container{
        width: 70%;
        margin: auto;
    }
    .bloque_image .bloque_titulo{
        width: 50%;
        margin-left: 120px;
    }
    .bloque_image h2{
        font-size: 55px;
        margin-top: 80px;
    }

    .bloque_texto .bloque_one{
        height: 200px;
    }
    #home .bloque_list{
        min-height: 330px;
    }
    .bloque_list h4{
        margin-bottom: 18px;
    }
    .bloque_list img{
        height: 220px;
    }
    .bloque_list p{
        font-size: 15px;
        line-height: 24px;
    }

    /*FOOTER*/
    #footer .container{
        width: 80%;
        margin: auto;
        font-size: 14px;
    }
    #footer h3{
        font-size: 20px;
    }
    #footer h4{
        font-size: 17px;
    }
    #footer ul li{
        line-height: 30px;
    }

}


